{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/letter.css' %}">
</head>

{% block content %}
    <div class="container">
        <h1>군생활중 고충이나 건의사항을 적어주세요.</h1>

        {% if error %}
            <p style="color: red;">{{ error }}</p> 
        {% endif %}

        <form method="post" action="{% url 'letter_view' %}">
            {% csrf_token %}
            <textarea name="story" rows="20" cols="100" placeholder="내용을 입력하세요"></textarea>
            <div>
                <input type="submit" value="제출"/>
            </div>
        </form>
    </div>
{% endblock %}
